<%
# Widget Rating Component

# widget:: expected to be a Widget to rate
# suppress_cta:: if true, suppress the call-to-action
#                    optional, deafult is false (show CTA)
%>
<section>
  <div class="dn" data-rating-present>
    <p>Thanks for rating this a <span data-rating-label></span>
    </p>
  </div>
  <div class="cf">
    <h3 style="float: left; margin: 0; padding-right: 1rem">
      Rate this widget
    </h3>

    <ol style="list-style: none; padding: 0; margin: 0">
      <% (1..5).each do |rating| %>
	<li style="float:left">
	  <%= button_to rating,
	     widget_ratings_path,
	     remote: true,
	     data: {
	       rating: true
	     },
	   params: {
	     widget_id: widget.id,
	     rating: rating
	   }%>
	</li>
      <% end %>
    </ol>
  </div>
  <% if !local_assigns[:suppress_cta] %>
    <p>Your rating help us be amazing!</p>
  <% end %>
</section>
