<section>
  <h1>New Widget</h1>
  <% if @widget.errors.present? %>
    <aside
      class="pa3 tc ba br2 b--dark-red dark-red bg-washed-red b mb3">
      The data you provided is not valid.
    </aside>
  <% end %>
  <%= form_with model: @widget do |f| %>
    <div class="mb3">
      <%= f.text_field :name, autofocus: true, placeholder: "e.g. Stembolt", class: "db w-100 pa2 mb1" %>
      <%= render partial: "widgets/label_with_error", locals: {
	form: f,
	record: @widget,
	field_name: :name
      } %>
    </div>

    <div class="mb3">
      <%= f.text_field :price_cents, placeholder: "e.g. 123.45", class: "db w-100 pa2 mb1" %>
      <%= render partial: "widgets/label_with_error", locals: {
	form: f,
	record: @widget,
	field_name: :price_cents
      } %>
    </div>

    <div class="mb3">
      <%= f.select :manufacturer_id,
	  options_from_collection_for_select(
	    @manufacturers.sort_by(&:name), "id", "name"
	  ),
       {
	 include_blank: "-- Choose --"
       },
       class: "db w-100 pa2 mb1"
      %>
      <%= render partial: "widgets/label_with_error", locals: {
	form: f,
	record: @widget,
	field_name: :manufacturer_id
      } %>

    </div>
    <%= f.submit "Create", class: "ba br3 ph3 pv2 white bg-dark-blue" %>
  <% end %>
</section>
